/**
* GLOBAL
**/
body {
}

/**
* LIST
**/
.main-list {
  color: #62a746;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 15px;
  overflow: auto;
}
.main-list a {
  color: #af4514;
  -webkit-text-stroke-color: black;
}
.main-list a:hover {
  text-decoration: none;
  color: #ffffbf;
}
.main-list hr {
  border-color: #af4514;
}

/**
* Inner pages
**/
.inner-main-title {
  font-size: 5rem;
}
.inner-h2 {
  font-size: 4rem;
}
.inner-h3 {
  font-size: 3rem;
}
.bigger-font {
  font-size: 1.7rem;
}
.smaller-font {
  font-size: 1.2rem;
}
.inner-button {
  width: 100%;
  height: 100%;
  min-height: 84px;
  border: 1px solid #645452;
  background-color: #aeb1a3;
}
.inner-button:hover {
  background-color: #645452;
}
.character-sheet .bordered-container {
  border: 5px solid #645452;
}
.character-sheet .bordered-container-2 {
  border: 5px solid #9416c5;
}
.character-sheet .rounded-border-container {
  border: 5px solid #645452;
  padding: 15px;
  border-radius: 30px;
}
.character-sheet .bordered-container img {
  width: 100%;
}
.restricted-color {
  color: #005a07;
}
.wild-color {
  color: #961e1e;
}
.hard-flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.no-link {
  color: #222;
}
.no-link:hover {
  text-decoration-color: #222;
}
.max-img-48 {
  max-width: 25%;
  min-width: 48px;
}
.buyable-sheet .min-height {
  min-height: 75%;
}
.buyable-sheet .bordered-container:nth-child(1) {
  background-color: #caaeaa;
}
.buyable-sheet .bordered-container {
  background-color: #9c8683;
}
.buyable-sheet .bordered-container-2:nth-child(1) {
  background-color: #c3c96f;
}
.buyable-sheet .bordered-container-2 {
  background-color: #a8ad60;
}
.buyable-sheet .rounded-border-container {
  border: 3px solid #645452;
  padding: 15px;
  border-radius: 30px;
}
.buyable-sheet .bordered-container img {
  width: 100%;
}
.buyable-sheet .bordered-container-2 img {
  width: 100%;
}
.buyable-sheet .buyable-title {
  padding: 1% 3%;
}
/**
*
**/

.book-back {
  background-image: url(../assets/img/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #000000;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
.page-back {
  background-image: url(../assets/img/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
}

/**
* Magic texts
**/

.dark {
  color: rgb(65, 7, 47);
}
.nature {
  color: rgb(7, 65, 10);
}
.electric {
  color: rgb(7, 51, 65);
}
.healer {
  color: rgb(64, 65, 7);
}
.sorcerer {
  color: rgb(27, 121, 39);
}
.fire {
  color: rgb(121, 27, 27);
}
.ice {
  color: rgb(43, 62, 66);
}

/**
* FONTS
**/
@font-face {
  font-family: "FantaisieArtistique";
  src: local("FantaisieArtistique"),
    url(../assets/fonts/FantaisieArtistique.ttf) format("truetype");
}

@font-face {
  font-family: "MedievalSharp";
  src: local("MedievalSharp"),
    url(../assets/fonts/MedievalSharp.ttf) format("truetype");
}
.font-fantasie {
  font-family: "FantaisieArtistique";
}
.font-serif {
  font-family: "Times New Roman", Times, serif;
}
.brown-bg {
  background-color: #333;
}
.brown-border {
  border: 3px solid #645452;
  height: fit-content;
}

/*
* FACTIONS
*/

.max-48 {
  max-width: 48px;
  max-height: 48px;
}
.brown-background-container {
  background-color: #9c8683;
}
